<p>
  Hi there!
</p>

<p>
  <%= @user.name %> has invited you to a meeting! <br>
</p>

<p>
  Meeting name: <%= @meeting.title %> <br>
  Meeting description: <%= @meeting.description %>
</p>

<p>
  Meeting starts at: <%= @intervals.first.start_time %> <br>
  Meeting ends at: <%= @intervals.first.end_time %>
</p>

<% if @meeting.location? %>
  <p>
    You are supposed to meet at <%= @meeting.location %>.
  </p>
<% end %>

<p>
  <button>Accept :)</button> or <button>Decline :(</button>
</p>

Sincerely,
LetsMeet app
