<p>
  Hi there!
</p>

<p>
  <%= @user.name %> has invited you to a meeting! <br>
</p>

<p>
  Meeting name: <%= @meeting.title %> <br>
  Meeting description: <%= @meeting.description %>
</p>

<p>
  Meeting starts at: <%= @intervals.first.start_time %> <br>
  Meeting ends at: <%= @intervals.first.end_time %>
</p>

<% if @meeting.location? %>
  <p>
    You are supposed to meet at <%= @meeting.location %>.
  </p>
<% end %>

<p>
<%= link_to "Accept :)", user_meeting_invitation_answer_email_url(
    @user.id,
    @meeting.id,
    @invitation.id,
    host: "https://lets-meet-api.herokuapp.com",
    invitation: { accepted: true }
  ),
  method: :post %> or
<%= link_to "Decline :(", user_meeting_invitation_answer_email_url(
    @user.id,
    @meeting.id,
    @invitation.id,
    host: "https://lets-meet-api.herokuapp.com",
    invitation: { accepted: false }
  ),
  method: :post %>
</p>

Sincerely,
LetsMeet app
